
.entry1, .entry2, .entry3, .entry4, .entry5, .entry6, .entry7, .entry8 {
  	display: none;
  }

.dtap2, .hepb2, .hib2, .pedvax2, .pcv2, .rotarix2, .rotateq2, .polio2, .mmr2 {
	display: none;
}

.dosedates1, .dosedates2, .dosedates3, .dosedates4, .dosedates5, .dosedates6, .dosedates7, .dosedates8 {
	display: none;
}

#container {
	text-align: center;
}

.dtap, .dtapbutton {
	display: inline;
}

.hepb, .hepbbutton {
	display: inline;
}

.hib, .hibbutton {
	display: inline;
}

.pedvax, .pedvaxbutton {
	display: inline;
}

.pcv, .pcvbutton {
	display: inline;
}

.rotarix, .rotarixbutton {
	display: inline;
}

.rotateq, .rotateqbutton {
	display: inline;
}

.polio, .poliobutton {
	display: inline;
}

.mmr, .mmrbutton {
	display: inline;
}

.varicella, .varicellabutton {
	display: inline;
}

.dtapbutton, .hibbutton, .varicellabutton, .mmrbutton, .poliobutton, .rotateqbutton, .rotarixbutton, .pcvbutton, .pedvaxbutton, .hepbbutton, .dtapbutton {
	display: none;
}

#disclaimer {
   position: fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   font-family: arial;
}

#title {
	font-family: american typewriter;
}

.birthday {
	font-family: arial;
}
