
.entry1, .entry2, .entry3, .entry4, .entry5, .entry6, .entry7, .entry8, .entry9, .entry10, .entry11, .entry12, .entry13, .entry14, .entry15, .entry16, .entry17 {
  	display: none;
  	font-family:arial;
  }

.dtap2, .hepb2, .hib2, .pedvax2, .pcv2, .rotarix2, .rotateq2, .polio2, .mmr2, .varicella2, .hepa2, .vaqta2, .men2, .tdap2, .hpv2, .ppsv2, #flu, .rzv2, .zvl2 {
	display: none;
}

.dosedates1, .dosedates2, .dosedates3, .dosedates4, .dosedates5, .dosedates6, .dosedates7, .dosedates8, .dosedates9, .dosedates10, .dosedates11,
.dosedates12, .dosedates13, .dosedates14, .dosedates15, .dosedates16, .dosedates17 {
	display: none;
}

#container {
	text-align: center;
}

.dtap, .dtapbutton {
	display: inline;
}

.hepb, .hepbbutton {
	display: inline;
}

.hib, .hibbutton {
	display: inline;
}

.pedvax, .pedvaxbutton {
	display: inline;
}

.pcv, .pcvbutton {
	display: inline;
}

.rotarix, .rotarixbutton {
	display: inline;
}

.rotateq, .rotateqbutton {
	display: inline;
}

.polio, .poliobutton {
	display: inline;
}

.mmr, .mmrbutton {
	display: inline;
}

.varicella, .varicellabutton {
	display: inline;
}

.hepa, .hepabutton {
	display: inline;
}

.vaqta, .vaqtabutton {
	display: inline;
}

.men, .menbutton {
	display: inline;
}

.tdap, .tdapbutton {
	display: inline;
}

.hpv, .hpvbutton {
	display: inline;
}

.ppsv, .ppsvbutton {
	display: inline;
}

.rzv, .rzvbutton {
	display: inline;
}

.zvl, .zvlbutton {
	display: inline;
}

.dtapbutton, .hibbutton, .varicellabutton, .mmrbutton, .poliobutton, .rotateqbutton, .rotarixbutton, .pcvbutton, .pedvaxbutton, .hepbbutton, .hepabutton, .vaqtabutton, .menbutton, .tdapbutton, .hpvbutton, .ppsvbutton, .rzvbutton, .zvlbutton {
	display: none;
}

#disclaimer {
   position: fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   font-family: arial;
}

#title {
	font-family: american typewriter;
}

.birthday {
	font-family: arial;
}

#choice1, #choice2, #choice3, #choice4, #choice5, #choice6, #choice7, #choice8, #choice9, #choice10, #choice11, #choice12, #choice13, #choice14,
#choice15, #choice16, #choice17 {
	font-family:arial;
}
